# Ignore system files
.DS_Store

# Ignore Node dependencies
node_modules/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compressed archives
*.zip

# Ignore source maps
*.map

# Ignore build output
build/
dist/
